@import './blocks/header';
@import 'utils/variables';
@import 'blocks/card';
@import 'blocks/stars';
@import 'blocks/main';

:root {
  --accent-color: #00acdc;
}

body {
  margin: 0;
}

html {
  font-family: Roboto, sans-serif;
}
